<div id="<%= dom_id todo %>">
  <p>
    <strong>Item:</strong>
    <%= todo.item %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= todo.completed_at %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= todo.priority %>
  </p>

  <p>
    <strong>Due at:</strong>
    <%= todo.due_at %>
  </p>

</div>
